<div class="filter-container">
  <div class="sort-item" (click)="sortBy('upload')">
    Upload
  </div>
  <div class="sort-item" (click)="sortBy('download')">
    Download
  </div>
  <div class="sort-item" (click)="sortBy('price')">
    Price
  </div>
  <div class="sort-item" (click)="sortBy('remove')">
    X
  </div>
</div>

<div class="result-container" *ngFor="let result of resultList">
  <div class="result-rank">{{ result.rank }}</div>
  <div class="result-name">{{ result.product.content.text }}</div>
  <div class="result-size" *ngIf="isMobile && !isTablet">
    <span class="amount"
      >&#x2193; {{ result.contractTerm.downloadSpeed.amount }}
    </span>
    <span class="unit">{{ result.contractTerm.downloadSpeed.unit }} </span>
  </div>
  <div class="result-size" *ngIf="isTablet && !isMobile">
    <div class="size-item">
      <span class="icon">
        &#x2193;
      </span>
      <span class="amount">
        {{ result.contractTerm.downloadSpeed.amount }}
        {{ result.contractTerm.downloadSpeed.unit }}
      </span>
    </div>
    <div class="size-item">
      <span class="icon">
        &#x2191;
      </span>
      <span class="amount">
        {{ result.contractTerm.uploadSpeed.amount }}
        {{ result.contractTerm.uploadSpeed.unit }}
      </span>
    </div>
  </div>

  <div class="result-size" *ngIf="!isTablet && !isMobile">
    <div class="size-item">
      Download
      <div>
        <span class="icon">
          &#x2193;
        </span>
        <span class="amount">
          {{ result.contractTerm.downloadSpeed.amount }}
          {{ result.contractTerm.downloadSpeed.unit }}
        </span>
      </div>
    </div>
    <div class="size-item">
      Upload
      <div>
        <span class="icon">
          &#x2191;
        </span>
        <span class="amount">
          {{ result.contractTerm.uploadSpeed.amount }}
          {{ result.contractTerm.uploadSpeed.unit }}
        </span>
      </div>
    </div>
  </div>

  <div class="result-benefits" *ngIf="!isMobile && !isTablet">
    <ul>
      <li *ngFor="let benefit of result.remarks">{{ benefit.caption.text }}</li>
    </ul>
  </div>
  <div class="result-price" *ngIf="isMobile && !isTablet">
    {{ result.cost.effectiveCost.content.text }}
  </div>
  <div class="result-button-container">
    <div class="result-button" *ngIf="isMobile && !isTablet">
      <a href="{{ getRedirectLink(result) }}" target="_blank">
        <i class="arrow right"></i
      ></a>
    </div>
    <div
      class="result-button-tablet"
      *ngIf="(!isMobile && isTablet) || (!isMobile && !isTablet)"
    >
      <div class="result-price">
        {{ result.cost.effectiveCost.content.text }}
      </div>
      <div class="result-button">
        <a href="{{ getRedirectLink(result) }}" target="_blank">
          To tariff <i class="arrow right"></i
        ></a>
      </div>
    </div>
  </div>
</div>
